<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="They Think It's All Clover"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
<link rel="stylesheet" href="../static/style.css">
<title>They Think It's All Clover</title>
<link rel="icon" 
      type="image/png" 
      href="../static/shamrock-computer-icons-four-leaf-clover-symbol-clip-art-clover-removebg-preview.png">
</head>
<body>
    <div class="row">
        <div class="col errorpage">
            <h1>Page Not Found</h1>
            <h2>Please Return To <a href="https://theythinkitsallclover.herokuapp.com">#theyThinkItsAllClover</a></h2>
        </div>
    </div>
    
<footer>
        <div class="row">
            <div class="col copyright">
                <em class="far fa-copyright"></em>2021 #TheyThinkItsAllClover
            </div>
        </div> 
        <div class="row creators">
            <div class="col text-center">
                <a href="https://github.com/cjcon90" target="_blank" rel="noopener"><i class="fab fa-github"></i> Ciaran</a> 
            </div>
            <div class="col text-center">
                <a href="https://github.com/tubaman48" target="_blank" rel="noopener"><i class="fab fa-github"></i> Richard</a>
            </div>
            <div class="col text-center">
                <a href="https://github.com/rlopezba1" target="_blank"><i class="fab fa-github" rel="noopener"></i> Ruben</a>
            </div>
            <div class="col text-center">
                <a href="https://github.com/J-O-B" target="_blank" rel="noopener"><i class="fab fa-github"></i> Jonathan</a>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>

    <script src="../static/script.js"></script>
</body>
</html>