<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="They Think It's All Clover"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
<link rel="stylesheet" href="../static/style.css">
<title>They Think It's All Clover</title>
<link rel="icon" 
      type="image/png" 
      href="../static/shamrock-computer-icons-four-leaf-clover-symbol-clip-art-clover-removebg-preview.png">
</head>
<body>
<div class="pageWrap">
    <!--Modal On Load-->
    <div id="myModal" class="modal fade-in">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title">Welcome To #theyThinkItsAllClover</h1>
                </div>
                <div class="modal-body">
                    <h3>Connecting People This St.Patricks Day!</h3>
                    <h5>@TogetherApart</h5>
                    <p>
                        To Take Part Simply Tweet Using The Hashtag <strong>#theyThinkItsAllClover</strong><br>
                        Please Remember To Have Your Location Settings On, So We Can Add You Automatically To The<br>
                        St.Patricks Day Tweet Map!
                    </p>
                    <iframe height="315" src="https://www.youtube.com/embed/J680_aKF5zc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="row modalButton">
                        <button type="button" class="btn box btn-block" data-dismiss="modal">Fáilte / Enter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--END MODAL-->

    <header>
        <img src="https://res.cloudinary.com/cjcon90/image/upload/v1615144396/they_think_its_all_clover/shamrock-computer-icons-four-leaf-clover-symbol-clip-art-clover-removebg-preview.png" alt="">
        <div class="header-text">
            <h1 class="header-text-one">#TheyThinkItsAllClover</h1>
            <h2 class="header-text-two">IT IS NOW</h2>
        </div>
    </header>
    <!-- Main Body -->
    <main class="container-fluid">
        <!-- Text Box and Tweet Board -->
        <div class="row">
            <!-- Text box -->
            <div class="col-sm-12 col-lg-6 text-box outer-box">
                <h1 class="title">Paddy's Day Tweets</h1>
                <div class="inner-box">
                    <h1 class="hashtag">#TheyThinkItsAllClover</h1>
                    <div class="row">
                        <div class="col-6 text-sub-box">
                            <h2 class="tweet-count">{{count}}</h2>
                            <p class="tweet-count-subtitle">Total Tweets</p>
                        </div>
                        <div class="col-6 text-sub-box">
                            <h3 class="prompt">Join in!</h3>
                            <!--Twitter Button-->
                            <a href="#" class="tweet-button" data-toggle="modal" data-target="#exampleModal">
                                <svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="twitter-icon">
                                <path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"/>
                                </svg>Tweet
                            </a>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title" id="exampleModalLabel">Join In For The Craic!</h2>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h3>How To Join In:</h3>
                                            <ol>
                                                <li>Go To <a href="https://twitter.com" target="_blank" class="modalLink">Twitter</a></li>
                                                <li>Ensure Your Location Settings Are Turned On: <em><a href="https://help.twitter.com/en/safety-and-security/twitter-location-services-for-mobile#:~:text=Go%20to%20your%20device's%20Settings%20feature%20and%20tap%20Apps.,to%20turn%20on%20or%20off." target="_blank" class="modalLink questionLink">How to do this?</a></em></li>
                                                <li>Tweet A St.Patricks Day Message Using The Hashtag: <strong>#theyThinkItsAllClover</strong></li>
                                            </ol>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-danger btn-lg" data-dismiss="modal"><i class="far fa-times-circle"></i> Close</button>
                                            <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Ftheythinkitsallclover.herokuapp.com&via=StPaddysDay2021&text=I%27m%20joining%20in%20the%20global%20St.%20Patrick%27s%20Day%20celebrations%20with%20TheyThinkItsAllClover%21%20Why%20not%20join%20in%20the%20craic%2C%20and%20show%20up%20on%20the%20map%2C%20at%3A&hashtags=TheyThinkItsAllClover"
                                            target="_blank" class="btn btn-success btn-lg"><i class="fab fa-twitter"></i> Tweet</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tweet Box -->
            <div class="col-sm-12 col-lg-6 tweet-box outer-box">
                <h2 class="title">
                    Tweet Board
                </h2>
                <div class="tweet-board overflow-auto">
                    {% for tweet in tweets %}
                <div class="userCard col-sm-12">
                    <div class="userPics">
                        <img src="{{tweet.avatar}}" alt="User Picture">
                    </div>
                    <div class="details">
                        <a href="{{tweet.url}}" target="_blank">{{tweet.username}}</a>
                        {% set lat = tweet.location[0] %}
                        {% set long = tweet.location[1] %}
                        <h4>
                            {{tweet.content}}
                        </h4>
                        <div id="coordinates">
                            {% for i in range(50) %}
                            <div class="coordinates">
                                <input class="lat hidden" type="number" value="{{long}}">
                                <input class="long hidden" type="number" value="{{lat}}">
                                <input class="pic hidden" type="text" value="{{tweet.avatar}}">
                                <input class="tweet hidden" type="text" value="{{tweet.content}}">
                                <input class="name hidden" type="text" value="{{tweet.username}}">
                                <input class="link hidden" type="text" value="{{tweet.url}}">
                            </div>
                            {%endfor%}
                        </div>
                        <hr>
                        <p>
                            <strong>Posted:</strong><em> {{tweet.time_posted}}</em> - <strong>Location:</strong> <em>{{tweet.location}}</em>
                        </p>
                    </div>
                </div>
            {%endfor%}
                </div>
            </div>
        </div>
        <!-- Map Box -->
        <div class="row">
            <div class="col-sm-12 map-box outer-box">
                <div class="title">
                    <div class="row">
                        <div class="col">
                            <h2 class="col col-md-6">
                                Tweet Map
                            </h2>
                        </div>
                        <div class="col">
                            <h2 class="col controls float-right">
                                Map Controls:
                                <button type="button" id="expandMap" class="btn btn-info zoom-in">Large Map</button>
                                <button type="button" id="smallMap" class="btn btn-info zoom-out">Small Map</button>
                            </h2>
                        </div>
                    </div>
                </div>
                
                <div id="map">
    
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="row">
            <div class="col copyright">
                <em class="far fa-copyright"></em>2021 #TheyThinkItsAllClover
            </div>
        </div> 
        <div class="row creators">
            <div class="col text-center">
                <a href="https://github.com/cjcon90" target="_blank"><i class="fab fa-github"></i> Ciaran</a> 
            </div>
            <div class="col text-center">
                <a href="https://github.com/tubaman48" target="_blank"><i class="fab fa-github"></i> Richard</a>
            </div>
            <div class="col text-center">
                <a href="#" target="_blank"><i class="fab fa-github"></i> Ruben</a>
            </div>
            <div class="col text-center">
                <a href="https://github.com/J-O-B" target="_blank"><i class="fab fa-github"></i> Jonathan</a>
            </div>
        </div>
    </footer>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>

    <script src="../static/script.js"></script>
</body>
</html>